
{% extends 'web/layout.html' %}
{% load static %}
{% block title %}
Main
{% endblock %}

{% block content %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        function fetch_weather() {
            axios.get('https://api.open-meteo.com/v1/forecast?latitude=14.0135&longitude=100.5305&daily=temperature_2m_max,temperature_2m_min,rain_sum&timezone=Asia%2FBangkok&start_date=2023-10-18&end_date=2023-10-25')
            .then(function (response) {
            // handle success
            let weather_data = response.data['daily'];
            let weather_div = document.getElementById('weathers');
            console.log(weather_data);
            weather_div.innerHTML = JSON.stringify(weather_data);
        });
        // var data = {{ json_output|safe }};
    }
    </script>
    <script>
        function fetch_data() {
            fetch('https://potential-memory-v6qrxq54pxpc6gwp-8000.app.github.dev/visualize/classification')
            .then(response=> response.json())
            .then(data=>{
                let weather_div = document.getElementById('weathers');
                weather_div.innerHTML = JSON.stringify(data);
                // create visualization right after cuz we got no choice now
                refresh_visual()
            })
            .catch(error =>{
                console.error("Error Fetching",error);
            })
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
    <script>
        async function refresh_visual(data) {

     let salary_api = await axios.get('https://potential-memory-v6qrxq54pxpc6gwp-8000.app.github.dev/visualize/classification')
         .then(function (response) {
             return response.data;
        });

    // let salary_api = data;
    let salaryall = [];
    let predicts = [];

    salary_api['salaries'].forEach((data, index) => {
        let real_obj = {
            "salaries": data,
            "position": salary_api['position'][index]
        }
        let pred_obj = {
            "salaries": data,
            "position": salary_api['position'][index]
        }
        salaryall.push(real_obj);
        predicts.push(pred_obj);
    });

    const plot = Plot.plot({
        marks: [
            Plot.dotY(salaryall, { x: "salaries", y: "position", tip: "x", stroke: "red" }),
            Plot.dotY(predicts, { x: "salaries", y: "position", tip: "x", stroke: "blue" }),
        ]
    })
    
    const div = document.getElementById('visual');
    div.append(plot);
}

        
        refresh_visual();
    </script>
    <div class="container-fluid index-body">
        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">1
                </div>
                <label>Upload Your Dataset</label>
                
            </div>
            <div class="dropbox container-fluid">
                <div class="dragfilebackground">
                    <label class="font1">Drag and Drop your file</label>
                    <img src="{% static 'download.jpg' %}" />
                </div>

                <div class="dragbg2">
                    <label class="font1">Upload Your Dataset</label>
                    <input class= "uploadFile" id="fileInput" name="file" accept=".csv, .json" type="file">
                </div>
                
                <script>
                    const fileInput = document.getElementById("fileInput");
                    const fileLabel = document.getElementById("fileLabel");
                
                    fileInput.addEventListener("change", () => {
                        if (fileInput.files.length > 0) {
                            fileLabel.textContent = fileInput.files[0].name;
                        } else {
                            fileLabel.textContent = "No file chosen";
                        }
                    });
                </script>                
                
            </div>
            
        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">2
                </div>
                <label>Choose your visualizing method</label>
            </div>
            <div class="choices" onclick="refresh_visual()">
                <div class="subchoice">
                    <img class="bar-chart" src="{% static 'bar-chart-01.png' %}" />
                    <label>Histogram</label> 
                    
                </div>  
                <div class="subchoice" onclick="refresh_visual()">
                    <img class="bar-chart" src="{% static 'bar-chart-02.png' %}" />
                    <label>Horizontal Histogram</label>
                </div>  
                <div class="subchoice" onclick="refresh_visual()">
                    <img class="bar-chart" src="{% static 'pie-chart-01.png' %}" />
                    <label>Pie Chart</label>
                </div>  
                <div class="subchoice" onclick="refresh_visual()">
                    <img class="bar-chart" src="{% static 'graph-increase.png' %}" />
                    <label>Line Chart</label>
                </div>  
                <div class="subchoice" onclick="refresh_visual()">
                    <img class="bar-chart" src="{% static 'dotgraph.png' %}" />
                    <label>Dot Chart</label>
                </div>  
                    <div class="subchoice" onclick="refresh_visual()">
                    <img class="logistic" src="{% static 'logistic.png' %}" />
                    <label>Logistic Regression</label>
                </div>  
            </div>
            <div class="web-topic">
                <div class="desktop-homepage">
                    <div class="fillfield" id = "visual">
                      <!-- D3 Visualization is HERE -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">3
                </div>
                <label>Statistic Summary</label>
            </div>
            <div class="result">
                <div class="fillfield" id = "weathers">
                    <h1>You do not have a file yet</h1>
                </div>
                <button onClick="console.log('Download Dataset')">Download your model</button>
            </div>
                
            </div>
        </div>
    </div>
</body>



{% endblock %}


