
{% extends 'web/layout.html' %}
{% load static %}
{% block title %}
Main
{% endblock %}

{% block content %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        function fetch_weather() {
            axios.get('https://api.open-meteo.com/v1/forecast?latitude=14.0135&longitude=100.5305&daily=temperature_2m_max,temperature_2m_min,rain_sum&timezone=Asia%2FBangkok&start_date=2023-10-18&end_date=2023-10-25')
            .then(function (response) {
            // handle success
            let weather_data = response.data['daily'];
            let weather_div = document.getElementById('weathers');
            console.log(weather_data);
            weather_div.innerHTML = JSON.stringify(weather_data);
        });
        // var data = {{ json_output|safe }};
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    
    <script type="text/javascript" src="{% static 'graphjs/horizontal.js'%}"></script>
    <script type="text/javascript" src="{% static 'graphjs/histogram.js'%}"></script>
    <script type="text/javascript" src="{% static 'graphjs/piechart.js'%}"></script>
    <script type="text/javascript" src="{% static 'graphjs/linechart.js'%}"></script>
    <script type="text/javascript" src="{% static 'graphjs/dotchart.js'%}"></script>



    <div class="container-fluid index-body">
        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">1
                </div>
                <label>Upload Your Dataset</label>
                
            </div>
            <div class="dropbox container-fluid">
                <div class="dragfilebackground">
                    <label class="font1">Drag and Drop your file</label>
                    <img src="{% static 'download.jpg' %}" />
                </div>

                <div class="dragbg2">
                    <label class="font1">Upload Your Dataset</label>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <input class= "uploadFile" id="fileInput" name="file" accept=".csv, .json" type="file">
                </form>
                </div>
                
                <script>
                    const fileInput = document.getElementById("fileInput");
                    const fileLabel = document.getElementById("fileLabel");
                
                    fileInput.addEventListener("change", () => {
                        if (fileInput.files.length > 0) {
                            fileLabel.textContent = fileInput.files[0].name;
                        } else {
                            fileLabel.textContent = "No file chosen";
                        }
                    });
                </script>                
                
            </div>
            
        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">2
                </div>
                <label>Choose your visualizing method</label>
            </div>
            <div class="choices">
                <div class="subchoice" onclick="drawVerticalHistogram()" >
                    <img class="bar-chart" src="{% static 'bar-chart-01.png' %}" />
                    <label>Histogram</label>  
                </div>  
                <div class="subchoice" onclick="horizontalhis()">
                    <img class="bar-chart" src="{% static 'bar-chart-02.png' %}" />
                    <label>Horizontal Histogram</label>
                </div>  
                <div class="subchoice" onclick="PieChart()">
                    <img class="bar-chart" src="{% static 'pie-chart-01.png' %}" />
                    <label>Pie Chart</label>
                </div>  
                <div class="subchoice" onclick="lineChart()">
                    <img class="bar-chart" src="{% static 'graph-increase.png' %}" />
                    <label>Line Chart</label>
                </div>  
                <div class="subchoice" onclick="dotChart()">
                    <img class="bar-chart" src="{% static 'dotgraph.png' %}" />
                    <label>Dot Chart</label>
                </div>  
        
            </div>
            <div class="web-topic">
                <div class="desktop-homepage">
                    <div class="fillfield" id = "visual">
                      <!-- D3 Visualization is HERE -->
                      
                      
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">3
                </div>
                <label>Statistic Summary</label>
            </div>
            <div class="result">
                <div class="fillfield">
                    <div id="stat" class="fillfield">
                    <h1>You don't have a file yet</h1>
                </div>
                </div>
                <button onClick="console.log('Download Dataset')">Download your model</button>
            </div>
                
            </div>
        </div>
    </div>
</body>



{% endblock %}


