{% extends 'web/layout.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}
{% block content %}

<body>
    <div class = "index-body">
        <div class = "index-context setting-context">
            <h1>Sign up</h1>

            <form action="" method="post">
                {% csrf_token %}
                <div class = "input">
                    <label for="first_name">First Name</label>
                    <input value="{{form_data.first_name}}" class = input-container type="text" placeholder="Enter text" name="first_name">
                </div>
                <div class = "input">
                    <label for="last_name">Last Name</label>
                    <input value="{{form_data.last_name}}" class = input-container type="text" placeholder="Enter text" name="last_name">
                </div>
                <div class = "input">
                    <label for="account">Username</label>
                    <input value="{{form_data.account}}" class = input-container type="text" placeholder="Enter text" name="account">
                </div>
                <div class = "input">
                    <label for="email">Email</label>
                    <input value="{{form_data.email}}" class = input-container type="text" placeholder="Enter text" name="email">
                </div>   
                <div class = "input">
                    <label for="password">Password</label>
                    <input value="{{form_data.password}}" class = input-container type="text" placeholder="Enter text" name="password">
                </div>
                <div class = "passChange">
                    <button style = "background-color: #43888F;" 
                        onClick="console.log('Logging In')">Log in</button>
                    <button style = "background-color: #DEF0F2; color:black" 
                        onClick="console.log('Register')">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}