{% extends 'web/layout.html' %}
{% load static %}

{% block title %}
Horizontal Histogram
{% endblock %}
{% block content %}

<body>
    <div class = "index-body">
        <a class="nav-link active" aria-current="page" href="/home"class="back-arrow">&#8592;Back</a>
        <div class = "index-context setting-context"  style="text-align: center; align-items: center;">
            
            

            <h1 id="home-text">Horizontal Histogram</h1>
            <img src="../static/chart_horbar.jpg" alt="Your Image Alt Text" width="500" height="300">
            <p>In statistics, a histogram is representation of the distribution of numerical data, where the data are binned and the count for each bin is represented. More generally, in Plotly a histogram is an aggregated bar chart, with several possible aggregation functions (e.g. sum, average, count...) which can be used to visualize data on categorical and date axes as well as linear axes.

                Alternatives to histogram plots for visualizing distributions include violin plots, box plots, ECDF plots and strip charts.</p>
            
        </div>
    </div>
</body>
{% endblock %}