{% extends 'web/layout.html' %}
{% load static %}

{% block title %}
Horizontal Histogram
{% endblock %}
{% block content %}

<body>
    <div class = "index-body">
        <a class="nav-link active" aria-current="page" href="/home"class="back-arrow">&#8592;Back</a>
        <div class = "index-context setting-context"  style="text-align: center; align-items: center;">
            
            

            <h1 id="home-text">Map Chart</h1>
            
            <img src="../static/chart_map.png" alt="Your Image Alt Text" width="500" height="300">
            <p>Geographic maps are used as a visual backdrop in map charts, which are graphical representations that show data points or statistical information related to certain geographic places. To illustrate data trends, patterns, or correlations across several locations or coordinates, these charts make use of a variety of graphic components, including colors, symbols, and shading.</p>
            
        </div>
    </div>
</body>
{% endblock %}